/* Add a black background color to the top navigation */

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    overflow: hidden;
}

.center-nav {
    display: flex;
    justify-content: center;
    flex-grow: 4;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: -100px;
    margin-right: 100px;
}


/* Style the links inside the navigation bar */

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
}


/* Hide all links inside the center-nav, except for the active one and the icon */

.topnav.responsive .center-nav a {
    display: block;
}


/* Show the icon that should open and close the topnav */

.topnav a.icon {
    display: none;
}

.topnav.responsive a.icon {
    display: block;
}


/* Change the color of links on hover */

.topnav a:hover {
    color: rgb(51, 51, 51);
    text-shadow: 4px 1px 6px rgba(0, 0, 0, 0.8);
}


/* Add an active class to highlight the current page */

.topnav a.active {
    background-color: transparent;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}


/* Hide the icon that should open and close the topnav on small screens */

.topnav .icon {
    display: none;
}


/* Style for page content */

.content {
    padding: 14px;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.left-nav .active {
    text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.5);
}

.center-tab {
    text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.5);
}


/* When the screen is less than 800 pixels wide */

@media screen and (max-width: 800px) {
    /* Hide all links, except for the selected tab */
    .topnav a:not(.active) {
        display: none;
    }
    /* Show the icon that should open and close the topnav */
    .topnav a.icon {
        display: block;
    }
}


/* When the screen is less than 800 pixels wide, if the user clicks on the icon */


/* the "responsive" class attribute will be added to the topnav by the JavaScript code */


/* This media query sets the style for the unfolded topnav */


/* It makes the topnav look good on small screens (display the links vertically instead of horizontally)  */

@media screen and (max-width: 800px) {
    .center-nav {
        position: relative;
        flex-direction: column;
        /* Stack the links vertically */
        align-items: center;
        /* Center the links horizontally */
    }
    .center-nav a.icon {
        position: fixed;
    }
    .center-nav a {
        display: block;
    }
}


/* Style the video: 100% width and height to cover the entire window */

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}


/* Three columns side by side */

.column {
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Display the columns below each other instead of side by side on small screens */

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}


/* Add some shadows to create a card effect */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


/* Some left and right padding inside the container */

.container {
    padding: 0 16px;
}


/* Clear floats */

.container::after,
.row::after {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "";
    clear: both;
    display: table;
}

.title {
    color: rgb(31, 31, 31);
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}